.login-page {
  background-color: #edebf1;
  width: 100vw;
  height: 100vh;

  &-carousel {
    // height: 100vh;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    &-item {
      height: 60vh;
      text-align: center;
      //   background-color: white;
      padding: 5% 10% 5% 30%;

      img {
        height: 400px;
        width: 400px;
      }
    }
  }
}
